/* stylesheet */

body {
    background-color: #f0f4f7;
}
a {
  color: #555;
    
}
a:hover,
a:active,
a:focus{
  color: #555;
    outline: none !important;
}
button, 
button:active, 
button:focus, 
button:hover {
    outline: none !important;
}
a.disabled {
pointer-events: none; 
cursor: default;
color: #888 !important;
}
.p-50 {
    padding: 50px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.btn-main-style {
    color: white;
    letter-spacing: 0.5px;
    font-size: 16px;
    border-radius: 0;
    padding: 15px 30px;
    outline: none !important;
}
.btn-big {
  width: 100%;
}
.btn-big-settings {
  width: 50%;
}
.big-btn-wrap {
    margin: 25px -55px -10px -55px;
}
.btn-main-style:hover,
.btn-main-style:active,
.btn-main-style:focus{
    text-decoration: underline;
    color: white;
}
.btn-turquoise {
    background-color: #3f979f;
}
.btn-turquoise:hover,
.btn-turquoise:active,
.btn-turquoise:focus{
    background-color: #3f979f;
}
.btn-turquoise-reset {
    background-color: #cd5c5c;
}
.btn-turquoise-reset:hover,
.btn-turquoise-reset:active,
.btn-turquoise-reset:focus{
    background-color: #cd5c5c;
}
.btn[disabled] {
    opacity: 0.3;
}
.btn[disabled]:hover {
    text-decoration: none;
    opacity: 0.3;
}
.form-control {
    height: 30px;
}
.floated {
    float:left;
}

/*Header*/
section.header {
    position: fixed;
    top: 0;
    left: 0;
    
}
.logo-block-header,
.user-info-block {
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #f0f4f7;
}

.logo-block-header {    
    padding: 5px 50px;
}
.logo-block-header img {
    height: 60px;
}
.user-info-block {
    font-size: 18px;
    border-left: 4px solid #f0f4f7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.logout {
    border: none;
    background:none;
    font-weight: 700;
    padding-left: 10px;
}
.logout:hover {
        text-decoration: underline;
    }
.user-form-wrap form {
    margin: 0;
}
span.version {
    font-size: 12px;
}
/*Menu*/
.border-left-header {
    border-left: 4px solid #f0f4f7;
}
.menu-btn-block {
    background-color: #3f979f;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.menu-btn-block:hover  {
    background-color: #1d2c45;
    cursor: pointer;
}
a.toggle {
    color: white;
    padding: 22px 30px;
}
nav.sidenav {
    background: #1d2c45;
    box-shadow: 2px 2px 6px rgba(0,0,0,.3);
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-top: 70px;
    left:100%;
    position: fixed;
    overflow: auto;
    transform: translate(0,0);
    transition: transform .3s;
    top: 0;
    width: 350px;
    z-index: 100;
}
ul.sidenav-menu {
     border-bottom: solid 1px #3f979f;
}
ul.sidenav-menu a {
    color: white;
    padding: 30px 0;
    text-transform: uppercase;
    font-size: 16px;
}
.sidenav .sidenav-menu a.active {
    background-color: #3f979f;
}
ul.sidenav-menu a.not-dropdown {
    border-bottom: solid 2px #3f979f;
}
ul.sidenav-menu a>span.sidenav-dropdown-icon {
    padding-top: 15px;
}
ul.sidenav-menu a:hover {
    color: white;
    background-color: rgba(63,151,159,0.5);
    /*background-color: #3f979f;*/
}
ul.ul-dropdown {
    margin: 0 20px;
    border-top: 1px solid #3f979f;
}
ul.ul-dropdown>li>form>a {
    border-bottom: none;
    font-size: 14px;
    padding-left: 60px;
    margin: -1px -20px;
}
ul.sidenav-dropdown a {
    background-color: #1d2c45;
}
nav.sidenav.show {
    transform: translate(-350px,0);
}
.sidenav-no-scroll .menu-btn-block {
    background-color: #1d2c45;
}
div.sidenav-overlay {
    background: rgba(63,151,159,0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
i.menu-hover,
i.menu-opened{
    display: none;
}
#sidenav-toggle {
    text-decoration: none;
}
#sidenav-toggle:hover{
    text-decoration: none;
    background-color: #1d2c45;
    }
.menu-btn-block:hover i.menu-hover {
    display: block;
}
.menu-btn-block:hover i.menu-closed,
.menu-btn-block:hover i.menu-opened{
    display: none;
}
.sidenav-no-scroll i.menu-opened {
    display: block;
}
.sidenav-no-scroll i.menu-closed,
.sidenav-no-scroll i.menu-hover,
.sidenav-no-scroll .menu-btn-block:hover i.menu-hover{
    display: none;
}
.sidenav-no-scroll .menu-btn-block:hover i.menu-opened {
    display: block;
}
.sidenav-no-scroll {
    overflow: auto; 
}
nav.sidenav form {
    margin: 0;
}
/*Main-section styles*/
.main-section {
    margin: 200px 0 100px 0;
}
.main-section .container {            
    background-color: white;
}
.not-visible {
    opacity: 0;
    pointer-events: none;
}
.label-choose-file {
    height: 55px;
    width: 150px;
}

/*Login Page*/
.login-page {
    background-image: url(../img/1.png);
}
.start-btn {
    font-size:20px;
}
.start-form {
    margin-top: 100px !important;
}
.login-form {
    background-color: white;
    margin: 0 20px;
}
.login-page .inputs-wrap {
   padding: 30px;
}
.login-page .main-section {
    margin-top: 200px;
}

.login-page .form-group input{
    display: inline;
}

.login-page .form-group input {
    width: 90%;
}
.login-page .form-group i {
    padding-top: 3px;
}
.login-page .logo-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.login_error {
        color:#ff5252;
        text-align:center;
        }
.error_message {
    color:#ff5252;
    text-align:left;
    padding: 10px 0;
    }
.login-form div.title,
.descr-form .title{
    font-weight: 700;
    text-align: center;
    font-size: 19px;
    padding-top: 30px;
}

/* Filter Block */
.filter-block,
.stat-info-block {
    background-color: white;
}
.filter-block-wrap {
    margin-top: 25px;
    padding: 0;
    display: flex;
}
.filter-block {
    width: 65%;
}
.attributes-block {
    margin: 2px 20px 0 40px;
}
.distribution {
    margin: 10px 40px;
}
.distribution .x-y-set {
    display: flex;
}
.attributes-block .title,
.stat-info-block .title,
.x-y-set .title,
.distribution .title,
.def_submission_chart_wrap .title,
.top-terms-block .title,
.settings-wrap .title{
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 2px solid #f0f4f7;
    padding-top: 20px;
}
.attributes-block .form-custom {
    padding-top: 25px;
}
.input-custom {
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #f0f4f7;
}
.input-custom:focus {
    box-shadow: none;
    border-bottom: 2px solid #3f979f;
}
.input-interval {
    display: flex;
}
.input-interval span {
    color: #3f979f;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    padding: 0 5px;
}
.top-terms-block {
    padding: 20px;
}
.top-terms-block p {
    padding: 10px 0;
}
.top-terms-div {
    margin-top: 20px;
}
.top-terms-div,
.top-terms-block textarea.readonly-textarea{
    padding: 20px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
}
.freq-terms {
    position: relative;
}
.sign-terms {
    margin-top: 70px;
}
.top-terms-block input {
    position: absolute;
    right: 16px;
    bottom: -65px;
}
.top-terms-block textarea.readonly-textarea,
.top-terms-block textarea.readonly-textarea:focus,
.top-terms-block textarea.readonly-textarea:active{
    border:none;
    outline: none;
    max-width: 100%;
    min-width: 100%;
}
.referring-to-form {
    padding-bottom: 30px;
}
.error_field{
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid red;
}
.error_field:focus{
    box-shadow: none;
    border-bottom: 2px solid red;
}

/* Filter Form */
.form-inner-block {
    padding-right: 16px;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}
.form-inner-block .headline {
    padding-bottom: 25px;
    text-align: center;
}
.form-group>label {
    text-align: left !important;
    padding-right: 10px;
}
.form-group .select-sign {
    width: 50px;
    padding:0;
    box-shadow: none;
}
.attributes-block .filter-wrap form {
    position: relative;
}
.filter-block .filter-wrap .btn-green {
    margin-top:20px;
    width: 30%;
}
#Apply {
    width: 100%;
}
#Train,#Save {
    position: absolute;
    bottom: 0;
    width: 30%;
}
#Train {
    left: 33%;
}
#Save {
    left: 66%;
}

div.form-btn-block {
    width: 30%;
    padding-top: 20px;
}
.btn-green {
    background-color: #91b467;
}
.btn-green:hover,
.btn-green:active,
.btn-green:focus{
    background-color: #91b467;
}
.btn-blue {
    background-color: #329ed8;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus{
    background-color: #329ed8;
}
.count {
    display: inline-block;
    width: 100px;
    text-align: center;
    border-bottom: 2px solid #f0f4f7;
    margin-left: 5px;
}
.filter-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}
/*multiple select */
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none;
    border-bottom: 2px solid #3f979f;
}
.select2-container--default .select2-selection--multiple {
    border: none;
    border-bottom: 2px solid #f0f4f7;
    border-radius: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #3f979f;
    color: white;
}
/* Stat Info Block */
.stat-info-group {
    padding: 15px 15px 5px 15px;
}
.stat-info-inner {
    padding-bottom: 10px;
}
.stat-info-block {
    border: 1px solid #f0f4f7;
    border-radius: 5px;
    margin: 0 30px 0 15px;
    padding: 0 15px;
}
.stat-info-group .headline {
    font-weight: 700;
    padding-bottom: 10px;
}
.values-block {
    display: flex;  
    justify-content: space-between;
}
.value-item>span.value {
    display: block;
    border-bottom: 2px solid #f0f4f7;
    padding-bottom: 5px;
}
.values-block>span {
    color: #3f979f;
    font-weight: 700;
    font-size: 18px;
    padding: 0 5px;
}
.def_submission_chart_wrap {
    margin: 10px 40px;
}
.def_submission_chart_wrap .title {
    padding-top: 50px;
}
.period-form {
    display: flex;
    justify-content: flex-start;
}
.period-form .form-group
{
    display: flex;
    margin: 0;
    padding: 10px 20px;
}
.period-form .form-group select,
.period-form .form-group input {
    padding: 0 5px;
}
.line-width-label,
.top-terms-block label{
    white-space: nowrap;
}
.period-form label {
    padding-top:10px;
}
.dropdown-line-width > button {
    margin-top: 10px;
    font-weight: 700;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover, .btn-default:hover {
    background: white;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-image: none;
    background: none;
    box-shadow: none;
}
.btn-default.focus, .btn-default:focus {
    color: #333;
    background: none;
    border: none;
}
.dropdown-line-width > ul {
    top:inherit;
    min-width: inherit;
}
.dropdown-line-width .dropdown-menu>li>a {
    padding: 7px 20px;
}
#line1 {
	width: 80px;
	height: 1px;
	background: #329ed8;
}
#line2 {
	width: 80px;
	height: 3px;
	background: #329ed8;
}
#line3 {
	width: 80px;
	height: 5px;
	background: #329ed8;
}
#line11 {
	width: 80px;
	height: 1px;
	background: #329ed8;
}
#line22 {
	width: 80px;
	height: 3px;
	background: #329ed8;
}
#line33 {
	width: 80px;
	height: 5px;
	background: #329ed8;
}
.x-y-set,
.chart-wrap {
    padding: 10px;
}
.x-y-set .title {
  border: none;
}
.form-dist .x-y-set .form-group  {
  display: flex;
  padding: 10px 20px;
}

.scale-block {
    display: flex;
}
.scale-block .form-group {
    display: flex;
    padding: 10px;
}
.scale-block .form-group label{
    padding-right: 5px;
}
.scale-block input {
    width: 50%;
    margin-left: 5px;
}
#DistributionThickness {
    width: 40px;
    padding: 0 5px;
}
/* Predict testing metrics Block */
.predict-tab .title {
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.predict-inner-block {
    background-color: white;
}
.predict-inner-block .title {
    padding: 25px 25px 10px;
}
.predict-form-inner {
    padding: 25px;
}
.bborder {
    border-bottom: 2px solid #f0f4f7;
}
.textarea-prediction-form {
    width: 100% !important;
    overflow-y: scroll;
    height: 240px;
    outline: none !important;
    line-height: 200%;
    resize: none;
}
/*topTerm block*/


/* Radiobutton style */
.radio label {
    padding: 5px
}
.predict-inner-block .radio-dot {
	display: none;
}
.predict-inner-block .label-custom {
    padding-left: 10px;
}
.predict-inner-block .radio-custom {
	width: 20px;
	height: 20px;
	border: 2px solid #f0f4f7;
	border-radius: 3px;
	position: relative;
}
.predict-inner-block .radio-custom,
.predict-inner-block .label-custom {
	display: inline-block;
	vertical-align: middle;
}
.predict-inner-block .radio-dot:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #3f979f;
	border-radius: 2px;
}
.predict-inner-block .radio-custom,
.predict-inner-block .radio-dot:checked + .radio-custom::before {
	border-radius: 50%;
}
 /*Multiple Description Mode Page*/
.ttr-chart-wrap>div{
    padding-bottom: 50px;
}
.chart-title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #555;
    font-weight: 700;
    padding-top: 50px;
}
.table-multiple {
    margin-top: 50px;
}
.table-hover-custom>tbody>tr:hover {
    background-color: #effcfc;
}
.table-multiple-wrap {
padding-right: 16px;
max-height: 400px;
overflow-y: auto;
overflow-x: hidden;
margin-bottom: 20px;
}

.table-multiple-wrap1 {
padding-right: 16px;
max-height: 50px;
overflow-y: auto;
overflow-x: hidden;
}

/* Single Description */
.descr-form-bg {
    margin-top: 300px;
}
.descr-form-bg form {
    background-color: white;
    width: 100%;
}
.descr-form-bg textarea {
    width: 90%;
    margin: 20px 10px;
    border: none;
    border-bottom: 1px solid #dedede;
    outline: none;
}
.textarea-wrap {
    width: 100%;    
}
.descr-form-icon {
    color: #dedede;
    vertical-align: top;
    padding: 20px 0 0 10px;
}

#descr_btn,
#Build{
    margin: 0;
}
select.highlight {
    width: 150px;
}
#highlight_div .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#highlight_div .form-group>label {
    display: flex;
}
div.square {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 10px;
}
#square-red {
    background-color: #FFD0DA;
    border: solid 1px #ff95ab;
}
#square-orange {
    background-color: #FFE2C5;
    border: solid 1px #FFB46C;
}
#square-blue {
    background-color: #C2E3F9;
    border: solid 1px #4DADEC;
}
/*Results Page*/
section.results .title {
    font-size: 20px;
    font-weight: 700;
}
section.results .subtitle {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
}
section.results .title {
    padding: 20px 0;
}
section.results .container {
    padding: 50px 50px 0 50px;
}
section.results .big-btn-wrap {
    margin: 25px -50px -10px -50px;
}
.textarea_readonly {
    max-width: 100%;
    }
textarea.form-control.textarea_readonly[readonly] {
    background-color: white;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #dedede;
    border-radius: 0;
}
#testing {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #dedede;
    width: 90%;
    display: inline-block;
}
.your-labels,
.your-priority{
    display: flex;
    align-items: center;
}
.your-labels i,
.your-priority i{
    color: #dedede;
}

/*your_priority placeholder*/
select.empty-value {
   color: #9a9a9d; 
}
#us-priority option{
    color: #555;
}
/*Tabulator*/
.tabulator-add-button {
    color: #3f979f;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    line-height: 16px;
}
.tabulator-add-button:hover {
    text-decoration: none;
}
#add_row, #add_row_areas, #add_row_model {
    position: absolute;
    right: 15px;
    bottom: 42px;
    z-index: 100;
    border-radius: 30px;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 20px;
    background-color: #3f979f;
    color: white;
    /* border: 1px solid #ddd; */
}
#add_row:hover,
#add_row:active,
#add_row:focus,
#add_row_areas:hover,
#add_row_areas:active,
#add_row_areas:focus,
#add_row_model:hover,
#add_row_model:active,
#add_row_model:hover
{
    text-decoration: none !important;
}
#add_row:hover,
#add_row_areas:hover,
#add_row_model:hover
{
    background-color: rgba(63,151,159,0.9);
}
#mandatory_attributes {
    position: relative;
}
/*settings page*/
.settings-form-field {
    margin: 15px 0;
}
#multiple_mod_fields {
    width: 100%;
}
.settings-form-field input {
    border-radius: 4px;
    border: 1px solid #aaa;
    padding-left: 5px;
    width: 100% !important;
}
.resolution-settings-col-title {
    font-weight: 700;
    padding-top: 5px;
}
.settings-wrap>.title>i.material-icons {
    font-size: 16px;
    color: #3f979f;
    padding-left: 2px;
}
.tooltip-inner {
    max-width: 80%; 
    color: #000; 
    background-color: whitesmoke; 
    border-radius: 3px;
    border: 1px solid #ddd;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #ddd;
}
.asterisk {
    color: #CE1515;
    font-size: 17px;
}
.settings-wrap>.title>.asterisk {
    padding-left: 2px;
}
/*Devices*/

/* Small Display */
@media (min-width:551px) and (max-width: 991px) {
    .user-info-block {
        font-size: 14px;
        border-top: 4px solid #f0f4f7;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .logout {
        font-weight: 700;
        padding-left: 5px;
    }
    img.logout-btn {
        width: 30px;
    }
    .filter-block-wrap {
        margin-top: 25px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .stat-info-block {
        background-color: white;
        margin-left: 0;
        margin-top: 25px;
        width: 100%;
    }
    .filter-block {
        width: 100%;
    }
    .btn-main-style {
        color: white;
        font-size: 14px;
        padding: 15px 10px;
    }
    .btn1 {
                  color: white;
                  font-size: 14px;
                  padding: 15px 10px;
              }
  .distr-block {
    flex-direction: column;
  }
  .x-y-set,
  .chart-wrap {
     width: 100%;
     padding: 10px;
  }
  .form-dist .form-group>label {
     margin-top: 10px;
  }
}

/* X-Small Display */
@media (min-width:330px) and (max-width: 550px) {
    .distr-block {
        flex-direction: column;
    }
    .x-y-set,
    .chart-wrap {
        width: 100%;
        padding: 10px;
    }
    .form-dist .form-group>label {
      margin-top: 10px;
    }
    /*Main Page - Filter Block */
    .scale-block {
        display: flex;
        flex-direction: column;
    }
}


/* menu style */
.myForm {
        background-color: #555;
    }

/* Menu */

.menu {
  background: #3f979f ;
  right: -350px;
  height: 100%;
  position: fixed;
  width: 350px;
}

.menu ul {
  border-top: 1px solid #3f979f;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #3f979f;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
  background-color: #555;
}

.menu li:hover {
  cursor: pointer;
  background-color: #555;
  }

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 6px;
}

.icon-menu {
  color: #3f979f;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-bottom: 25px;
  padding-left: 1500px;
  padding-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu img {
  margin-right: 5px;
}

.disabledfilter {
    pointer-events: none;
    opacity: 0.4;
}

img.ArticleImgHP {
            /* Set the width and height to the size of its container */
            width : 100%;
            height : 100%;
            visibility : hidden;
        }
div.ArticleImgHP-container {
            width : 124px;
            height : 124px;
            background-image : url('img/loader2.gif');
            background-position: center center;
            background-repeat: no-repeat;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -100px;
            z-index:1;
        }

#file-name,
#message{
    word-break: break-word;
}

.form-horizontal .control-label {
word-break: break-word;
}
