<!DOCTYPE html>
<html>
<head>
   <!-- Bootstrap -->
    <link href="{{url_for('static',filename='style/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='style/jasny-bootstrap.min.css')}}" rel="stylesheet">
    <!-- Google Font -->
    <link href="{{url_for('static',filename='style/fonts/roboto.css')}}" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{{url_for('static',filename='style/style1.css')}}" rel="stylesheet"> 
    <link href="{{url_for('static',filename='style/style.css')}}" rel="stylesheet">    
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Login | Nostradamus</title>
</head>
<body class="login-page">

<section class="main-section">
    <div class="container-fluid">
       <div class="row">
           <div class="col-md-offset-4 div col-md-4 logo-wrap">
               <img src="/static/img/logo.png">
           </div>
       </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
               <form action = "/" method = "post" class="login-form">
                <div id="login" class="title">Please login</div>
                <div id="warning" class="login_error"></div>
                 <div id="input" class="inputs-wrap">
                      <div class="form-group">
                            <i class="material-icons descr-form-icon">person</i>
                            <input type="text" class="form-control" name="username" label="Login" placeholder="Login" id="username">
                      </div>
                      <div class="form-group">
                            <i class=" material-icons descr-form-icon">lock</i>
                            <input type="password" class="form-control" name="password" label="Password" id="password" placeholder="Password">
                      </div>
                  </div>
                  <button id="submitbtn" type="submit" class="btn btn-main-style btn-big btn-turquoise">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Bootstrap -->
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script>
    var jsonFromHTML = "{{ json }}";
    var cleanJsonFromHTML = jsonFromHTML.replace(/&#34;/g,'"');
    var jsonDictionary = JSON.parse(cleanJsonFromHTML);
    
    if(jsonDictionary['error'] != ''){
        var array = jsonDictionary['error'].split(" ");

        var arrays = [], size = 6;
        while (array.length > 0)
            arrays.push(array.splice(0, size).join(" "));

        var files = ''
        for(var key in Object.keys(arrays))
            files = files + arrays[key] + '\n'
        var text = $("#warning").text(files)
        text.html(text.html().replace(/\n/g,'<br/>'));
    }

    sessionStorage.removeItem("fName");
    sessionStorage.removeItem("finalName");
</script>
</body>
</html>