<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap -->
    <link href="{{url_for('static',filename='style/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='style/jasny-bootstrap.min.css')}}" rel="stylesheet">
    <!-- Google Fonts / Icons -->
    <link href="{{url_for('static',filename='style/fonts/roboto.css')}}" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{{url_for('static',filename='style/style1.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='style/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='style/jquery.highlight-within-textarea.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- Menu styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='style/sidenav.min.css')}}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Single Description Mode | Nostradamus</title>
    <style>
        .hwt-container {
            background-color: #ffffff;
        }

        .hwt-content {
            height: 240px;
            padding: 20px;
            border: 1px solid #adb5bd;
            color: inherit;
            font: 14px 'Droid Sans Mono', sans-serif;
            line-height: 200%;
            max-width: 703.33px;
            min-width: 703.33px;
            min-height: 240px;
        }

        .hwt-input:focus {
            outline-color: #495057;
        }

        .hwt-content mark {
            border-radius: 3px;
            background-color: #d0bfff;
        }

        .hwt-content mark.red {
            background-color: #ffc9c9;
        }

        .hwt-content mark.blue {
            background-color: #a3daff;
        }

        .hwt-content mark.yellow {
            background-color: #ffec99;
        }
    </style>
</head>
<div id="info">.</div>
<script id="json">
    "{{ json }}"
</script>

<body>
    <div class="loadDiv" id="loadDiv">
        <!-- Header -->
        <section class="navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 logo-block-header">
                        <img src="{{url_for('static',filename='img/logo_dark.png')}}" />
                        <span class="version">6.2.2</span>
                    </div>
                    <div class="col-md-4 user-info-block">
                        <div id='username'></div>
                        <div class="user-form-wrap">
                            <form action="/logout" method="post">
                                <img class="logout-btn" src="{{url_for('static',filename='img/logout.png')}}" />
                                <button id="Logout" type="submit" value="Submit" class="logout"
                                    onclick="clearFileNameLocalStorage();">Logout</button>
                            </form>
                        </div>
                    </div>
                    <!-- Menu Button-->
                    <div class="col-md-1 menu-btn-block">
                        <a href="javascript:;" class="toggle" id="sidenav-toggle">
                            <i class="material-icons menu-closed">format_align_right</i>
                            <i class="material-icons menu-hover">menu</i>
                            <i class="material-icons menu-opened">close</i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Menu -->
        <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
            <ul class="sidenav-menu">
                <li>
                    <form id="Analysis & Training" class="form-content form-horizontal" action="/analysis_and_training"
                        method="POST">
                        <a id="menu-analysis-train-link" href="#"
                            onclick="clearFileNameLocalStorage();document.getElementById('Analysis & Training').submit();"
                            class="not-dropdown">
                            <span class="sidenav-link-title">Analysis &amp; Training</span>
                        </a>
                    </form>
                </li>
                <li>
                    <a id="menu-predictions-link" href="javascript:;" data-sidenav-dropdown-toggle>
                        <span class="sidenav-link-title">Predictions</span>
                        <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                            <i class="material-icons">arrow_drop_down</i>
                        </span>
                        <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                            <i class="material-icons">arrow_drop_up</i>
                        </span>
                    </a>

                    <ul class="sidenav-dropdown ul-dropdown" data-sidenav-dropdown>
                        <li data-toggle="tooltip" data-placement="top">
                            <form id="multiple descriptions mode" class="form-content form-horizontal"
                                action="/multiple_mode" method="POST">
                                <a id="menu-multiple-descr-mode" href="#"
                                    onclick="document.getElementById('multiple descriptions mode').submit();"
                                    class="disabled">Multiple description mode</a>
                            </form>
                        </li>
                        <li>
                            <form id="single description mode" class="form-content form-horizontal" action="/single_description_mode"
                                method="POST">
                                <a id="menu-single-descr-mode" href="#" class="active not-dropdown"
                                    onclick="document.getElementById('single description mode').submit();">Single
                                    description mode</a>
                            </form>
                        </li>
                    </ul>
                </li>
                <li>
                    <form id="setting" class="form-content form-horizontal" action="/setting" method="POST">
                        <a id="menu-single-descr-mode" href="#"
                            onclick="clearFileNameLocalStorage();document.getElementById('setting').submit();">
                            <span class="sidenav-link-title">Settings</span>
                        </a>
                    </form>
                </li>
            </ul>
        </nav>

        <!-- Main part of Results Page -->

        <section class="main-section results">
            <div class="container">
                <form id="predictionForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="warning" class="error_message"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-12" style="padding:0;">
                            <!--class="form-control descr hwt-content hwt-input"-->
                                <textarea required type="text" id="descr" name="descr"
                                    placeholder="Your bug report description" class="textarea-prediction-form" style="padding:20px;"></textarea>
                                <div class="col-md-8"></div>
                                    <button id='predict_button' class="btn btn-main-style btn-turquoise col-md-6" type="button"
                                        onclick="predict();">Predict</button>
                                    <button id='clear_button' class="btn btn-main-style btn-turquoise-reset col-md-6" type="button"
                                        onclick="clearSingleDescriptionModePage();">Clear</button>
                                </div>
                        </div>
                        <div id="highlight_div" class="col-md-4">
                            <div class="form-group">
                                <label for="">
                                    <div id="square-red" class="square"> </div>Resolution
                                </label>
                                <select class="form-control highlight" id="Resolution" name="Resolution">
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">
                                    <div id="square-orange" class="square"> </div>Priority
                                </label>
                                <select class="form-control highlight" id="Priority" name="Priority">
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">
                                    <div id="square-blue" class="square"> </div>Areas of testing
                                </label>
                                <select class="form-control highlight" id="Testing_areas" name="Testing_areas">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <!--  hwt-content hwt-input-->


                        </div>
                    </div>
                    <div class="row" id="Recommendations">
                        <div class="col-md-12">
                            <div class="title">Recommendations:</div>
                        </div>
                    </div>
                    <div class="row" id="Priority_Histogram">
                        <div class="col-md-6">
                            <div class="subtitle">
                                Priority Bar Chart</div>
                            <canvas id="priority_hist"></canvas>
                        </div>
                        <div class="col-md-6">
                            <div class="subtitle">TTR Bar Chart</div>
                            <canvas id="ttr_hist"></canvas>
                        </div>
                    </div>
                    <div class="row" id="wontReject">
                        <div class="col-md-6">
                            <div id="resolution1" class="subtitle" text-xs-center></div>
                        </div>
                        <div class="col-md-6">
                            <div id="resolution2" class="subtitle" text-xs-center></div>
                        </div>
                    </div>
                    <div class="row" id="wontRejectCanv">
                        <div class="col-md-offset-1 col-md-5">
                            <canvas id="wont_fix_hist"></canvas>
                        </div>
                        <div class="col-md-5">
                            <canvas id="reject_hist"></canvas>
                        </div>
                    </div>
                    <div class="row" id="Area_Histogram">
                        <div class="col-md-12">
                            <div class="subtitle">Area Bar Chart</div>
                            <canvas id="area_hist"></canvas>
                        </div>
                    </div>
                    <div class="row" id="advice">
                        <div class="col-md-12">
                            <div class="subtitle">Advice</div>
                            <textarea id="recom" class="form-control textarea_readonly mb-20" readonly=true
                                name="predlab"></textarea>
                        </div>
                    </div>
                    <div class="row" id="labPrior">
                        <div class="col-md-6 your-labels">
                            <i class="material-icons">local_offer</i>
                            <input id="testing" name="uslab" type="text" class="form-control input-custom"
                                placeholder="Your Labels">
                        </div>
                        <div class="col-md-6 your-priority">
                            <i class="material-icons">local_offer</i>

                            <select required class="empty-value form-control input-custom" placeholder="Your priority"
                                name="uspriority" id="us-priority" data-toggle="tooltip" data-placement="top"
                                title="User Priority">
                                <option value="">User Priority *</option>
                                <option>Critical</option>
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span id="prio" hidden></span>
                            <span id="ttr" hidden></span>
                            <span id="wontfix" hidden></span>
                            <span id="reject" hidden></span>
                            <span id="areas" hidden></span>
                        </div>
                    </div>
                    <div class="big-btn-wrap">
                        <button id="descr_btn" class="btn btn-main-style btn-big btn-turquoise" type="button"
                            onclick="submitPrediction();">Submit Outcome</button>
                    </div>
                    <button type="submit" id="submitSaveSubset" hidden="hidden">submit</button>
                </form>
            </div>

        </section>

        <div class="ArticleImgHP-container" id="load">
            <img class="ArticleImgHP" />
        </div>

        <!-- Scripts -->
        <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/layout-bootstrap.js')}}"></script>
        <script src="{{url_for('static',filename='js/jquery.highlight-within-textarea.js')}}"></script>
        <!-- Bootstrap -->
        <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
        <!-- Chart Scripts -->
        <script src="{{url_for('static',filename='js/Chart.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/nostradamus_chart_jsonAJAX.js')}}"></script>
        <!-- Menu -->
        <script src="{{url_for('static',filename='js/sidenav.min.js')}}"></script>
        <script>
            $('[data-sidenav]').sidenav();
        </script>
        <script>
            function clearFileNameLocalStorage() {
                sessionStorage.removeItem("fName");
                sessionStorage.removeItem("finalName");
            };
        </script>
    </div>
</body>

</html>