<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap -->
    <link href="{{url_for('static',filename='style/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='style/jasny-bootstrap.min.css')}}" rel="stylesheet">
    <!-- Google Fonts / Icons -->
    <link href="{{url_for('static',filename='style/fonts/roboto.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Menu styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='style/sidenav.min.css')}}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Table -->
    <link href="{{url_for('static',filename='style/tabulator_bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='style/select2.min.css')}}" rel="stylesheet" />
    <!-- Amsify Plugin -->
    <link href="{{url_for('static',filename='style/amsify.suggestags.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='style/tagify.css')}}" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{{url_for('static',filename='style/style1.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='style/style.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>Settings | Nostradamus</title>

</head>

<body>
    <div class="loadDiv" id="loadDiv">
        <script id="json">
            "{{ json }}"
        </script>

        <!-- Header -->
        <section class="navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 logo-block-header">
                        <img src="{{url_for('static',filename='img/logo_dark.png')}}" />
                        <span class="version">6.2.2</span>
                    </div>
                    <div class="col-md-4 user-info-block">
                        <div id='username'></div>
                        <div class="user-form-wrap">
                            <form action="/logout" method="post">
                                <img class="logout-btn" src="{{url_for('static',filename='img/logout.png')}}" />
                                <button id="Logout" type="submit" value="Submit" class="logout"
                                    onclick="clearFileNameLocalStorage()">Logout</button>
                            </form>
                        </div>
                    </div>
                    <!-- Menu Button-->
                    <div class="col-md-1 menu-btn-block">
                        <a href="javascript:;" class="toggle" id="sidenav-toggle">
                            <i class="material-icons menu-closed">format_align_right</i>
                            <i class="material-icons menu-hover">menu</i>
                            <i class="material-icons menu-opened">close</i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Menu -->
        <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
            <ul class="sidenav-menu">
                <li>
                    <form id="Analysis & Training" class="form-content form-horizontal" action="/analysis_and_training"
                        method="POST">
                        <a id="menu-analysis-train-link" href="#"
                            onclick="document.getElementById('Analysis & Training').submit();"
                            class="not-dropdown disabled">
                            <span class="sidenav-link-title">Analysis &amp; Training</span>
                        </a>
                    </form>
                </li>
                <li>
                    <a id="menu-predictions-link" href="javascript:;" data-sidenav-dropdown-toggle>
                        <span class="sidenav-link-title">Predictions</span>
                        <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                            <i class="material-icons">arrow_drop_down</i>
                        </span>
                        <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                            <i class="material-icons">arrow_drop_up</i>
                        </span>
                    </a>

                    <ul class="sidenav-dropdown ul-dropdown" data-sidenav-dropdown>
                        <li data-toggle="tooltip" data-placement="top">
                            <form id="multiple descriptions mode" class="form-content form-horizontal"
                                action="/multiple_mode" method="POST">
                                <a id="menu-multiple-descr-mode" href="#"
                                    onclick="document.getElementById('multiple descriptions mode').submit();"
                                    class="disabled">Multiple description mode</a>
                            </form>
                        </li>
                        <li>
                            <form id="single description mode" class="form-content form-horizontal" action="/single_description_mode"
                                method="POST">
                                <a id="menu-single-descr-mode" href="#"
                                    onclick="document.getElementById('single description mode').submit();"
                                    class="disabled">Single description mode</a>
                            </form>
                        </li>
                    </ul>
                </li>
                <li>
                    <form id="setting" class="form-content form-horizontal" action="/setting"
                        method="POST">
                        <a id="menu-single-descr-mode" href="#" class="active not-dropdown"
                            onclick="clearFileNameLocalStorage();document.getElementById('setting').submit();">
                            <span class="sidenav-link-title">Settings</span>
                        </a>
                    </form>
                </li>
            </ul>
        </nav>
        <!-- Settings page -->
        <section class="main-section">
            <div class="container">
                <form class="form-horizontal form-custom" onsubmit="return false" id="setting_form">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="warning" class="login_error"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 settings-wrap">
                            <div class="title" data-placement="bottom"><span id="i_mandatory_fields">Mandatory Fields</span></div>
                            <div id='mandatory_attributes'></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 settings-wrap">
                            <button id='add_row' class="btn" type="button">+</button>
                            <div class="title" data-toggle="tooltip"><span id="i_special_fields">Special Fields</span></div>
                            <div id='special_attributes'></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 settings-wrap">
                            <button id='add_row_areas' class="btn" type="button">+</button>
                            <div class="title" data-toggle="tooltip"><span id="i_area_of_testing_fields">Area of testing</span></div>
                            <div id='mark_up_attributes'></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 settings-wrap" >
                            <div class="col-md-12">
                                <div class="title" data-toggle="tooltip"><span id="i_refering_to">Referring to</span><span class="asterisk">*</span></div>
                                <div class="form-group settings-form-field">
                                    <div class="col-md-12">
                                        <select id="referring_to" name="referring_to" multiple="single"
                                            placeholder="Resolved" data-select2-id="Status" tabindex="-1"
                                            class="select2-hidden-accessible col-md-12" aria-hidden="true" required>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 settings-wrap" style="margin:0; padding:0;">
                                <div class="title" data-toggle="tooltip"><span id="i_resolution_settings_for_sm">Resolution Settings for Single Mode</span><span class="asterisk">*</span></div>
                                <div class="form-group form-group-custom settings-form-field">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4 text-center resolution-settings-col-title">
                                        XML Element Name
                                    </div>
                                    <div class="col-md-4 text-center resolution-settings-col-title">
                                        Value
                                    </div>
                                </div>
                                <div class="form-group form-group-custom settings-form-field">
                                    <label class="col-md-4 control-label">Resolution Pie Chart №1</label>
                                    <div class="col-md-4">
                                        <input id="resolution1name" name="resolution1name" type="text" width="48" required>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="resolution1value" name="resolution1value" type="text" width="48"
                                            required>
                                    </div>
                                </div>
                                <div class="form-group form-group-custom settings-form-field">
                                    <label class="col-md-4 control-label">Resolution Pie Chart №2</label>
                                    <div class="col-md-4">
                                        <input id="resolution2name" name="resolution2name" type="text" width="48" required>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="resolution2value" name="resolution2value" type="text" width="48"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 settings-wrap">
                            <div class="title" data-toggle="tooltip"><span id="i_table_settings_for_mm">Table Settings for Multiple Mode</span><span class="asterisk">*</span></div>
                            <div id='multiple_mode_attributes'></div>
                        </div>
                    </div>
                    <div class="row">
                        <button id='submit_settings' class="btn btn-main-style btn-big-settings btn-turquoise floated"
                            type="submit">Submit settings</button>
                        <button id='reset_settings' class="btn btn-main-style btn-big-settings btn-turquoise-reset floated"
                            type="submit">Reset to default</button>
                    </div>
                </form>
            </div>
        </section>
        




        <!-- Scripts -->
        <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/layout-bootstrap.js')}}"></script>
        <!-- Bootstrap -->
        <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
        <!-- Chart Scripts -->
        <script src="{{url_for('static',filename='js/Chart.min.js')}}"></script>
        <!-- Menu -->
        <script src="{{url_for('static',filename='js/sidenav.min.js')}}"></script>
        <script>
            $('[data-sidenav]').sidenav();
        </script>
        <!-- Amsify Plugin -->
        <script src="{{url_for('static',filename='js/jquery.amsify.suggestags.js')}}"></script>
        <script src="{{url_for('static',filename='js/jQuery.tagify.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/jQuery.tagify.min.js')}}"></script>
        <!-- Scripts ???-->
        <script src="{{url_for('static',filename='js/multiple-select.js')}}"></script>
        <script src="{{url_for('static',filename='js/select2.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/Chart.bundle.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/tabulator.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/setting.js')}}"></script>
    </div>
</body>

</html>