@import "../../../../styles/colors";

.input-predictions-element {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	background-color: $veryLightGray;
	color: $darkGray;

	&-block {
		display: inline-flex;
		align-items: center;
		margin: 7px;
		border-radius: 4px;
		max-width: 95%;
		cursor: pointer;
		background-color: $grayDisabled;

		&_locked {
			cursor: not-allowed;
		}

		&__input {
			background-color: transparent;
		}

		&__position {
			color: $darkBlue;
			margin: 5px 10px;
		}

		&__content {
			margin: 5px 0;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&__button {
			color: $grayDisabledText;
			background-color: transparent;
			margin: 5px 10px;
			padding: 0;
		}

		&:hover {
			background-color: $seaBlue;

			* {
				color: white;
			}
		}
	}
}
