@import "src/app/styles/_colors.scss";

$borderRadius: 10px;

@mixin resolutionStyles($resolution, $formWidth, $contentHeight) {
	@media screen and (max-width: $resolution) {
		.auth-page {
			&__slider {
				width: calc(100% - #{$formWidth} + #{$borderRadius});
			}
			&__main {
				width: $formWidth;
			}
			&__content {
				height: $contentHeight;
			}
		}
	}
}

.auth-page {
	min-height: 700px;
	height: 100vh;
	width: 100vw;
	background-size: cover;

	@include resolutionStyles(1920px, 480px, 720px);
	@include resolutionStyles(1600px, 410px, 600px);
	@include resolutionStyles(1280px, 375px, 520px);

	&__container {
		width: 85%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
		padding-bottom: 20px;
		//padding-bottom: 100px;
		//padding-top: 20px;
	}

	&__content {
		margin-top: 40px;

		width: 100%;

		display: flex;
		align-items: stretch;
		flex-shrink: 0;

		background: $white;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
		border-radius: $borderRadius;

		overflow: hidden;
		position: relative;
	}

	&__slider {
		height: 100%;
	}

	&__main {
		height: 100%;

		position: absolute;
		top: 0;
		right: 0;

		background: $white;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
		border-radius: $borderRadius;

		padding: 40px 30px;
		padding-right: 20px;
	}

	&__change-mod-button {
		margin-right: 0;
		margin-left: auto;
	}

	&__auth-form {
		margin-top: 63px;

		@media (max-width: 1280px) {
			margin-top: 36px;
		}
	}
}
