@import "src/app/styles/_colors.scss";

$borderRadius: 10px;

.auth-page {
	min-height: 700px;
	height: 100vh;
	width: 100vw;
	background-size: cover;

	&__container {
		width: 85%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
		padding-bottom: 100px;
		padding-top: 20px;
	}

	&__content {
		margin-top: 40px;

		width: 100%;
		height: 720px;

		display: flex;
		align-items: stretch;

		background: $white;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
		border-radius: $borderRadius;

		overflow: hidden;
		position: relative;
	}

	&__slider {
		width: calc(70% + #{$borderRadius});
		height: 100%;
	}

	&__main {
		width: 30%;
		height: 100%;

		position: absolute;
		top: 0;
		right: 0;

		background: $white;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
		border-radius: $borderRadius;

		padding: 40px 30px;
	}

	&__change-mod-button {
		margin-right: 0;
		margin-left: auto;
	}

	&__auth-form {
		margin-top: 63px;

		@media (max-width: 1400px) {
			margin-top: 20px;
		}
	}
}

@media screen and (max-width: 1600px) {
	.auth-page__content {
		height: 600px !important;
	}
}

@media screen and (max-width: 1280px) {
	.auth-page__content {
		height: 520px !important;
	}
}
