@import "../../../../styles/colors";

.settings-training {
	color: $darkGray;

	&__button {
		&:disabled {
			cursor: not-allowed;
		}
	}

	&__title,
	&__subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 22px;
		color: $deepDarkBlue;
	}

	&__subtitle {
		margin: 20px 0;
		font-size: 18px;
		color: $darkBlue;
	}

	&__add-position {
		display: inline-block;
		padding: 6px;
		margin-left: 15px;
		border: 1.5px solid $gray;
		background-color: transparent;
		border-radius: 100%;
		opacity: 0.5;
		cursor: pointer;
		transform: rotate(45deg);
		transition: opacity 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;

		&:hover:not([disabled]) {
			opacity: 1;
			color: $seaBlue;
			border-color: $seaBlue;
		}
	}

	&-source {
		display: flex;
		align-items: center;
		margin-top: 15px;

		&__title {
			margin-right: 20px;
		}

		&__arrow-left,
		&__inscription,
		&__check {
			color: $orange;
			margin: 0 20px;
		}

		&__arrow-left {
			animation: arrow_move 1s ease-in-out both alternate infinite;
		}

		&__check {
			color: $seaBlue;
		}

		&__inscription {
			margin-left: 0;

			&_success {
				color: $seaBlue;
			}
		}
	}

	&-table {
		&-main {
			margin-top: 15px;

			&__edit-button,
			&__delete-button {
				background-color: $seaBlue;
				color: rgba(255, 255, 255, 0.5);
				transition: color 0.2s ease-out;

				&:hover {
					color: rgba(255, 255, 255, 1);
				}
			}

			&-section {
				position: relative;
				display: flex;

				&_select {
					display: flex;
				}

				&__edit-wrapper {
					position: absolute;
					right: 0;
					display: flex;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}

		&__accept-button {
			background-color: $seaBlue;
			width: 60px;
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-input {
			width: 40%;
			&_tabled {
				border-right: 1px solid $darkBlue;
			}
		}

		&-select {
			width: 60%;

			&__select-wrapper {
				display: flex;
				align-items: center;
			}
		}
	}

	&-table-header {
		margin-top: 20px;

		&__wrapper {
			margin-top: 15px;
			display: flex;
		}

		&__title {
			font-size: 16px;
		}
		&__field-title {
			font-size: 14px;
			margin-bottom: 5px;
		}
	}

	&-bug-resolution {
		margin-top: 25px;

		&__title {
			font-weight: 500;
			font-size: 18px;
			color: $darkBlue;
		}

		&-metric,
		&-value {
			display: flex;
			align-items: center;
		}

		&-wrapper {
			display: flex;
			margin-top: 15px;
		}

		&-metric {
			&__title {
				margin-right: 20px;
			}
		}

		&-value {
			&__title {
				margin-right: 20px;
				margin-left: 30px;
			}
		}
	}

	&-footer {
		margin-top: 30px;
		padding-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

@keyframes arrow_move {
	from {
		transform: translateX(10px);
	}
	to {
		transform: translateX(-10px);
	}
}
