@import "../../../../../../styles/colors";

.settings-predictions-form {
	margin-top: 15px;

	&__title {
	}

	&__wrapper {
		display: flex;
		align-items: center;
		width: 50%;
		margin-top: 5px;
	}

	&__add-position {
		display: inline-block;
		padding: 6px;
		margin-left: 15px;
		border: 1.5px solid $gray;
		background-color: transparent;
		border-radius: 100%;
		opacity: 0.5;
		cursor: pointer;
		transform: rotate(45deg);
		transition: opacity 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;

		&:hover:not([disabled]) {
			opacity: 1;
			color: $seaBlue;
			border-color: $seaBlue;
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
}
