@import "../../../styles/colors";

.field-wrapper {
}

.field {
	position: relative;

	height: 40px;

	background: $veryLightGray;

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid $deepDarkBlue;

	display: flex;
	align-items: center;
}
