// TODO: export all color scheme

$lightBlue: #d9eaf2;
$lightBlueText: #94bdd1;
$deepDarkBlue: #1f5c7a;
$deepDarkBlueForAuthPage: #013047;
$active: #47c6d1;
$white: #ffffff;
$darkGray: #4d4d4d;
$veryLightGray: #f2f2f2;
$activeHover: #7ddfe8;
$grayDisabled: #d9d9d9;
$gray: #7e7e7e;
$lightGray: #e7e7e7;
$green: #29a38f;
$blue: #5cadd6;
$darkBlue: #1f7ead;
$seaBlue: #4ccdd9;
$lightSeaBlue: #ccfbff;
$veryLightBlue: #e6f7ff;
$orange: #f68b55;
$lightOrange: #ffa666;
$smoothOrange: #f2d16d;
$lightGreen: #33cc99;
$sirene: #994e9c;
$smoothSirene: #D68AE6;
$grayDisabledText: #a6a6a6;
$lightRed: #f53d3d;
$crimson: #e61a1a;
$smoothRed: #F56E6E;
$violetDark: #694cbf;
$cold: #5798d9;
$yellowStrong: #f2bf24;
$almostBlack: #404040;
$black: #000000;
