// TODO: export all color scheme

$lightBlue: #D9EAF2;
$lightBlueText: #94BDD1;
$deepDarkBlue: #1F5C7A;
$deepDarkBlueForAuthPage: #013047;
$active: #47C6D1;
$white: #FFFFFF;
$darkGray: #4D4D4D;
$veryLightGray: #F2F2F2;
$activeHover: #7DDFE8;
$grayDisabled: #D9D9D9;
$gray: #7E7E7E;
$lightGray: #E7E7E7;
$green: #29A38F;
$blue: #5CADD6;
$darkBlue: #1F7EAD;
$seaBlue: #4CCDD9;
$lightSeaBlue: #CCFBFF;
$veryLightBlue: #E6F7FF;
$orange: #F68B55;
$lightOrange: #FFA666;
$smoothOrange: #F2D16D;
$lightGreen: #33CC99;
$sirene: #994E9C;
$grayDisabledText: #A6A6A6;
$lightRed: #F53D3D;
$crimson: #E61A1A;
$violetDark: #694CBF;
$cold: #5798D9;
$yellowStrong: #F2BF24;
$almostBlack: #404040;
$black: #000000;

