@import "src/app/styles/_colors.scss";

.donut-chart {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: flex-start;

	&-legend {
		margin-right: 25px;
		align-self: center;

		&__wrapper {
			display: flex;
			flex-direction: row;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}

		&__circle-pointer {
			width: 20px !important;
			height: 20px !important;
			flex-shrink: 0;
			border-radius: 100%;

			margin-right: 15px;
		}

		&__title {
			font-family: Quicksand;
			font-style: normal;
			font-weight: 500;
			font-size: 15px;
			line-height: 19px;
			font-feature-settings: "cpsp" on, "liga" off;
			color: $gray;
		}
	}

	&-wrapper {
		position: relative;
		width: 140px;
		flex-shrink: 0;

		&__percentage-block {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: opacity 0.2s ease-out;
			font-size: 25px;

			&_visible {
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: 1600px) {
	.donut-chart-wrapper {
		width: 120px;
	}
}

@media screen and (max-width: 1280px) {
	.donut-chart-legend {
		margin-right: 15px;

		&__wrapper {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		&__title {
			font-size: 13px;
		}
	}
}
