.donut-chart {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;

  &-legend {
    width: 50%;
    align-self: flex-end;
    margin-right: 15px;

    &__wrapper{
      display: flex;
      flex-direction: row;
      align-items: center;

      &:not(:last-child){
        margin-bottom: 25px;
      }

    }

    &__circle-pointer{
      width: 20px !important;
      height: 20px !important;
      flex-shrink: 0;
      border-radius: 100%;

      margin-right: 15px;
    }

    &__title{
      font-family: Quicksand;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      font-feature-settings: 'cpsp' on, 'liga' off;
      width: 100%;
    }
  }

  &-wrapper{
    width: 50%;
    position: relative;
    
    &__percentage-block{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .2s ease-out;

      &_visible{
        opacity: 1;
      }
    }
  }



}
