@import "../../../../styles/colors";

.settings-filter{

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $darkGray;

  &__button{
    &:disabled{
      cursor: not-allowed;
    }
  }
  &__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: $deepDarkBlue;
  }

  &-name{
    width: 40%;

    &_tabled{
      border-right:1px solid $darkBlue;
    }
  }

  &-type{
    width: 60%;
    &__dropdown-wrapper{
      display: flex;
    }
    &__accept-button{
      background-color: $seaBlue;
      width: 60px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-header{
    display: flex;
    margin-top: 15px;

    &__title{
      margin-bottom: 5px;
    }

    &__dropdown-wrapper{
      display: flex;
      align-items: center;
    }

    &__add-position{
      display: inline-block;
      padding: 6px;
      margin-left: 15px;
      border: 1.5px solid $gray;
      background-color: transparent;
      border-radius: 100%;
      opacity: .5;
      cursor: pointer;
      transform: rotate(45deg);
      transition: opacity .2s ease-out,
                  color .2s ease-out,
                  border-color .2s ease-out;

      &:hover:not([disabled]){
        opacity: 1;
        color: $seaBlue;
        border-color: $seaBlue;
      }
    }
  }


  &-main{
    margin-top: 15px;
    box-sizing: border-box;

    &__section-edit-wrapper{
      position: absolute;
      right: 0;
      top:50%;
      transform: translateY(-50%);
      display: flex;
    }

    &__edit-button,&__delete-button{
      margin-right: 10px;
      background-color: transparent;
      color: white;
      opacity: .5;
      transition: opacity .2s ease-out;

      &:hover{
        opacity: 1;

        &:disabled{
          cursor: not-allowed;
        }
      }
    }

    &__section{
      display: flex;
      position: relative;
    }
  }

  &-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

}
