@import "../../../../../../../styles/colors";

.settings-training-table-form {
	margin-top: 20px;

	&__wrapper {
		margin-top: 15px;
		display: flex;
	}

	&__title {
		font-size: 16px;
	}
	&__field-title {
		font-size: 14px;
		margin-bottom: 5px;
	}

	&-input {
		width: 40%;
	}
	&-select {
		width: 60%;

		&__select-wrapper {
			display: flex;
			align-items: center;
		}
	}

	&__add-position {
		display: inline-block;
		padding: 6px;
		margin-left: 15px;
		border: 1.5px solid $gray;
		background-color: transparent;
		border-radius: 100%;
		opacity: 0.5;
		cursor: pointer;
		transform: rotate(45deg);
		transition: opacity 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;

		&:hover:not([disabled]) {
			opacity: 1;
			color: $seaBlue;
			border-color: $seaBlue;
		}

		&:disabled {
			cursor: not-allowed;
		}
	}
}
