@import "../../../../styles/colors";

.dropdown-element {
	position: relative;
	width: 100%;
	font-size: 16px;

	&__select {
		width: 100%;
		background-color: $veryLightGray;
		height: 40px;
		line-height: 40px;
		padding: 0 60px 0 10px;
		text-overflow: ellipsis;
		box-sizing: border-box;

		&_simple,
		&_odd {
			background-color: $veryLightGray;
		}

		&_simple {
			border-bottom: 1px solid $deepDarkBlue;
		}
		
		&_simple, &_disabled {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		&_even {
			background-color: $lightBlue;
		}

		&_hovered {
			background-color: $seaBlue;
			color: $white;
		}

		&_edited {
			background-color: $lightSeaBlue;
			border: 2px solid $seaBlue;
		}

		&_disabled {
			cursor: pointer;
			background-color: $veryLightGray;
			border-bottom: 1px solid $deepDarkBlue;
		}

		option {
			color: $darkGray;
			box-shadow: none;
		}
	}

	&__open {
		position: absolute;
		top: 50%;
		right: 16px;
		transform: translateY(-50%);

		&_rotated {
			transform: rotate(180deg) translateY(50%);
		}
	}

	&__clear-value {
		position: absolute;
		top: 50%;
		right: 35px;
		transform: translateY(-50%);
		background-color: transparent;
		opacity: 0.5;
		transition: opacity 0.2s ease-out;
		&:hover {
			opacity: 1;
		}
	}

	&__default-value {
		display: none;
	}

	&-wrapper {
		position: absolute;
		width: inherit;
		padding: 5px 0;
		width: 100%;

		max-height: 250px;
		overflow: auto;

		z-index: 100;

		background-color: white;
		border: 1px solid $lightBlueText;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
		border-radius: 4px;

		&_hidden {
			display: none;
		}

		&__too-much {
			padding: 5px 10px;
			background-color: $veryLightGray;
			color: $darkGray;
			font-weight: bold;
		}

		&__option {
			padding: 3px 10px;

			cursor: pointer;

			&:hover {
				background-color: $lightBlue;
			}

			&_disabled {
				color: $grayDisabled;

				cursor: not-allowed;
				pointer-events: none;
			}

			&_hidden {
				display: none;
			}
		}
	}
}
