@import "src/app/styles/_colors.scss";

.auth-form {
	&__title {
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		text-transform: uppercase;
		color: $deepDarkBlue;
	}

  &__field {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

		&:first-of-type {
			margin-top: 60px;

			@media (max-width: 1400px) {
				margin-top: 20px;
			}
		}
	}

	&__label {
		width: 80px;
		flex-shrink: 0;
		font-size: 16px;
		line-height: 20px;
	}

	&__input {
		width: 100%;

		margin-left: 20px;
		box-sizing: border-box;
		padding: 10px 0 10px 14px;
		background: $veryLightGray;

		border-top-left-radius: 4px;
		border-top-right-radius: 4px;

		font-family: "Quicksand", sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: $darkGray;

		border-bottom: 1px solid $deepDarkBlue;

    -moz-appearance: none;
    -webkit-appearance: none;

    &::placeholder {
      color: $grayDisabled;
    }
  }

  &__select-icon{
    position: absolute;
    right: calc(0% + 5px);
  }

  &__submit-button {
    width: 250px;
    margin-top: 50px;
    margin-right: 0;
    margin-left: auto;
  }
}
